%YAML 1.1
---

vars:
  address-groups:
    # Your Custom Definitions
    HOME_NET: "[10.100.1.0/24,10.100.2.0/24]"
    EXTERNAL_NET: "!$HOME_NET"
    PLC_NET: "[10.100.1.0/24]"
    SCADA_NET: "[10.100.2.0/24]"
    ASHERAH_PLC: "10.100.1.10"
    SCADA_SERVER: "10.100.2.10"

    # --- MISSING VARIABLES (The Cause of the Crash) ---
    # We map these to HOME_NET so rules check all your internal containers
    HTTP_SERVERS: "$HOME_NET"
    SQL_SERVERS: "$HOME_NET"
    SMTP_SERVERS: "$HOME_NET"
    DNS_SERVERS: "$HOME_NET"
    FTP_SERVERS: "$HOME_NET"
    TELNET_SERVERS: "$HOME_NET"
    AIM_SERVERS: "$EXTERNAL_NET"
    DNP3_SERVER: "$HOME_NET"
    DNP3_CLIENT: "$HOME_NET"
    ENIP_CLIENT: "$HOME_NET"
    ENIP_SERVER: "$HOME_NET"
    MODBUS_CLIENT: "$HOME_NET"
    MODBUS_SERVER: "$HOME_NET"

  port-groups:
    HTTP_PORTS: "80,8080,8081"
    MODBUS_PORTS: "502"
    
    # --- MISSING PORTS (Required for standard rules) ---
    SHELLCODE_PORTS: "!80"
    ORACLE_PORTS: 1521
    SSH_PORTS: 22
    DNP3_PORTS: 20000
    VNCL_PORTS: 5900
    FILE_DATA_PORTS: "$HTTP_PORTS,110,143"
    FTP_PORTS: 21

outputs:
  - eve-log:
      enabled: yes
      filetype: regular
      filename: eve.json
      types:
        - alert
        - anomaly
        - http
        - dns
        - tls
        - stats
        - flow
        # - modbus

  - fast:
      enabled: yes
      filename: fast.log
      append: yes

app-layer:
  protocols:
    modbus:
      enabled: yes
      detection-ports:
        dp: 502
    dnp3:
      enabled: yes
    enip:
      enabled: yes
    http:
      enabled: yes
    dns:
      tcp:
        enabled: yes
      udp:
        enabled: yes
    tls:
      enabled: yes
    ssh:
      enabled: yes
    # Adding these to stop the "protocol enable status not set" warnings
    smtp:
      enabled: yes
    ftp:
      enabled: yes
    smb:
      enabled: yes
    nfs:
      enabled: yes
    tftp:
      enabled: yes
    ntp:
      enabled: yes
    dhcp:
      enabled: yes
    krb5:
      enabled: yes
    ikev2:
      enabled: yes
    snmp:
      enabled: yes
    sip:
      enabled: yes
    rfb:
      enabled: yes
    mqtt:
      enabled: yes
    rdp:
      enabled: yes
    imap:
      enabled: yes

default-rule-path: /etc/suricata/rules
rule-files:
  - suricata.rules
  - ics-custom.rules

af-packet:
  - interface: br-plc
    threads: 2
    cluster-id: 98
    cluster-type: cluster_flow
  - interface: br-scada
    threads: 2
    cluster-id: 99
    cluster-type: cluster_flow

logging:
  default-log-level: info
  outputs:
    - console:
        enabled: yes
    - file:
        enabled: yes
        level: info
        filename: suricata.log
